body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}
body header #mobileNav {
  display: none;
  color: #F76C5E;
  padding: 1px 6px;
  border: 3px solid #F76C5E;
  border-radius: 20%;
  position: fixed;
  z-index: 99;
  top: 20px;
  right: 20px;
  font-size: 2rem;
}
@media screen and (max-width: 815px) {
  body header #mobileNav {
    display: block;
  }
}
body header #mobileList {
  background-color: #324376;
  display: inline-block;
  list-style: none;
  z-index: 99;
  position: fixed;
  top: -500px;
  right: -180px;
  padding: 10px 0;
  border-bottom-left-radius: 40px;
  transition: all 0.5s ease;
}
body header #mobileList .place {
  font-size: 1.5rem;
  padding: 15px 30px;
  border-bottom: 2px solid #324376;
  transition: all 0.5s ease;
}
body header #mobileList .place:hover {
  border-bottom: 2px solid #F68E5F;
  background-color: #586BA4;
  cursor: pointer;
  color: #F5DD90;
}
body header #mobileList .place:last-of-type {
  border-bottom-left-radius: 40px;
}
body header #mobileList .place:last-of-type:hover {
  border-bottom-left-radius: 40px;
  border-bottom: 2px solid #F68E5F;
  background-color: #586BA4;
  cursor: pointer;
  color: #F5DD90;
}
body header #mobileList #closeBtn {
  padding: 15px;
  font-size: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
body header nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #324376;
}
@media screen and (max-width: 815px) {
  body header nav {
    display: none;
  }
}
body header nav a {
  text-decoration: none;
  color: black;
}
body header nav .logo {
  padding: 20px;
  font-size: 1.6rem;
}
body header nav .logo span {
  font-size: 0.7rem;
}
body header nav .navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
body header nav .navbar .place {
  margin-right: 10px;
  padding: 35px 20px;
  transition: all 0.5s ease;
  border-bottom: 2px solid #324376;
}
body header nav .navbar .place:hover {
  background-color: #586BA4;
  cursor: pointer;
  color: #F5DD90;
  border-bottom: 2px solid #F68E5F;
}
body header nav .cart {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
body header nav .cart .forCart {
  padding: 30px 20px;
  font-size: 1.7rem;
  transition: all 0.5s ease;
}
body header nav .cart .forCart:hover {
  background-color: #586BA4;
  cursor: pointer;
  color: #F76C5E;
}
body header nav .cart #cartsDp {
  display: none;
  position: absolute;
  border: 2px solid #F68E5F;
  top: 60px;
  right: 45px;
  width: 260px;
  padding: 10px 10px 30px 10px;
  border-radius: 50px;
  background-color: rgba(245, 221, 144, 0.5);
  border-top-right-radius: 0;
  transition: all 1s ease;
}
body header nav .cart #cartsDp #cartDropdownItem {
  padding: 0;
  position: relative;
}
body header nav .cart #cartsDp #cartDropdownItem li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #F68E5F;
}
body header nav .cart #cartsDp #cartDropdownItem li img {
  width: 80px;
  border-radius: 50px;
  margin-bottom: 5px;
}
body header nav .cart #cartsDp #cartDropdownItem li h3 {
  font-size: 0.7rem;
  margin: 5px;
}
body header nav .cart #cartsDp #cartDropdownItem li span {
  font-size: 0.7rem;
  margin-right: 5px;
}
body header nav .cart #cartsDp #cartTotal {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  right: 100px;
  bottom: 15px;
}
body #item {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin: 100px auto;
}
@media screen and (max-width: 1200px) {
  body #item {
    width: 100vw;
    justify-content: space-between;
    margin: 100px auto;
  }
}
@media screen and (max-width: 1200px) and (max-width: 815px) {
  body #item {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
body #item #itemImg {
  display: flex;
  flex-direction: column;
}
body #item #itemImg .ItemImg {
  width: 45vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
@media screen and (max-width: 815px) {
  body #item #itemImg .ItemImg {
    width: 90vw;
  }
}
body #item .itemInfo {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 70px;
  text-align: center;
}
@media screen and (max-width: 815px) {
  body #item .itemInfo {
    margin: 0 auto;
    width: 90vw;
  }
}
body #item .itemInfo #itemName {
  font-size: 2rem;
}
body #item .itemInfo #itemCategorie {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #F68E5F;
}
body #item .itemInfo #itemColor {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #F68E5F;
}
body #item .itemInfo #itemPrice {
  font-size: 1.8rem;
  color: #F68E5F;
}
body #item .itemInfo .sizes {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}
body #item .itemInfo .sizes .empty {
  background-color: red;
}
body #item .itemInfo .sizes span {
  border: 1px solid #324376;
  padding: 8px 10px;
  margin-left: 10px;
}
body #item .itemInfo .sizes .empty {
  background-color: red;
}
body #item .itemInfo #OutOfStock {
  color: red;
  font-size: 1.3rem;
}
body #item .itemInfo #itemDescription {
  word-spacing: 0.4rem;
  line-height: 1.5rem;
  text-align: left;
}
body #item .itemInfo .buttons {
  display: flex;
  justify-content: space-evenly;
}
body #item .itemInfo .buttons #like {
  font-size: 3.3rem;
  margin: 50px 0;
  margin-right: 20px;
}
body #item .itemInfo .buttons #like:hover {
  color: #F68E5F;
}
body #item .itemInfo .buttons .liked {
  color: red;
}
body #item .itemInfo .buttons button {
  padding: 10px 0;
  margin: 40px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.8rem;
  border: none;
  background-color: white;
  border-bottom: 3px solid white;
  transition: all 0.5s ease;
}
body #item .itemInfo .buttons button:hover {
  border-bottom: 3px solid #F68E5F;
  cursor: pointer;
}
body footer {
  position: fixed;
  bottom: 0;
  background-color: #324376;
  width: 100%;
}
body footer p {
  font-size: 0.7rem;
  text-align: center;
}
body footer p a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  transition: all 0.5s ease;
}
body footer p a:hover {
  color: rgb(166, 166, 166);
}
body footer p a i {
  font-size: 1.5rem;
  margin-left: 5px;
}/*# sourceMappingURL=stylesItem.css.map */