* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
* body {
  background-color: rgb(132, 132, 132);
}
* body header {
  background-color: #619b8a;
  display: flex;
  justify-content: space-between;
}
* body header h1 {
  margin: 5px 20px;
}
* body header #mainIndex {
  background-color: #F77D5F;
  color: whitesmoke;
  border-radius: 50%;
  margin-right: 20px;
}
* body header #mainIndex:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body header #mainBtns {
  display: none;
}
* body header #mainBtns button {
  padding: 5px 10px;
  margin: 10px;
  background-color: #fe7f2d;
  color: whitesmoke;
  border-radius: 5px;
  transition: all 0.5s ease;
}
* body header #mainBtns button:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body header #mainBtns #logout {
  color: red;
}
* body #loginDiv {
  background-color: #A1C181;
  padding: 20px;
  width: 400px;
  margin: 50px auto;
}
* body #loginDiv form {
  display: flex;
  flex-direction: column;
}
* body #loginDiv form label {
  text-align: center;
}
* body #loginDiv form input {
  margin: 10px 20px;
}
* body #loginDiv form button {
  padding: 5px 10px;
  margin: 10px;
  background-color: #fe7f2d;
  color: whitesmoke;
  border-radius: 5px;
  transition: all 0.5s ease;
}
* body #loginDiv form button:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #loginDiv form #error {
  display: none;
  color: #915e3d;
  text-align: center;
}
* body #forAdmin {
  display: none;
}
* body #forAdmin #addProducts {
  display: none;
  width: 500px;
  background-color: #ffce78;
  margin: 50px auto;
  border-radius: 5px;
}
* body #forAdmin #addProducts .topAdd {
  position: relative;
}
* body #forAdmin #addProducts .topAdd h3 {
  padding: 10px;
  text-align: center;
}
* body #forAdmin #addProducts .topAdd .close {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #fe7f2d;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;
  transition: all 0.5s ease;
}
* body #forAdmin #addProducts .topAdd .close:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #addProducts .bottomAdd form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
}
* body #forAdmin #addProducts .bottomAdd form .item {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
* body #forAdmin #addProducts .bottomAdd form .item input {
  margin: 10px 0;
  width: 200px;
}
* body #forAdmin #addProducts .bottomAdd form .item label {
  margin: 10px 0;
}
* body #forAdmin #addProducts .bottomAdd form .item #addPic {
  background-color: #fe7f2d;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
* body #forAdmin #addProducts .bottomAdd form .prw {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}
* body #forAdmin #addProducts .bottomAdd form #addProductBtn {
  background-color: #fe7f2d;
  padding: 10px;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
* body #forAdmin #addProducts .bottomAdd form #addProductBtn:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #addProducts .bottomAdd form .sizes {
  margin: 10px auto;
}
* body #forAdmin #addProducts .bottomAdd form .sizes input {
  width: 50px;
}
* body #forAdmin #addSlidePics {
  display: none;
  width: 500px;
  background-color: #ffce78;
  margin: 50px auto;
  border-radius: 5px;
}
* body #forAdmin #addSlidePics .topAdd {
  position: relative;
}
* body #forAdmin #addSlidePics .topAdd h3 {
  padding: 10px;
  text-align: center;
}
* body #forAdmin #addSlidePics .topAdd .close {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #fe7f2d;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px;
  transition: all 0.5s ease;
}
* body #forAdmin #addSlidePics .topAdd .close:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #addSlidePics .bottomAdd form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
}
* body #forAdmin #addSlidePics .bottomAdd form .item {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
* body #forAdmin #addSlidePics .bottomAdd form .item input {
  margin: 10px 0;
  width: 200px;
}
* body #forAdmin #addSlidePics .bottomAdd form .item label {
  margin: 10px 0;
}
* body #forAdmin #addSlidePics .bottomAdd form #allSliderPics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
* body #forAdmin #addSlidePics .bottomAdd form #allSliderPics .divSlide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
* body #forAdmin #addSlidePics .bottomAdd form #allSliderPics .divSlide .prw {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}
* body #forAdmin #addSlidePics .bottomAdd form #allSliderPics .divSlide .deleteSlide {
  position: absolute;
  background-color: #F76C5E;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 2px 5px;
  top: 5px;
  right: 5px;
}
* body #forAdmin #addSlidePics .bottomAdd form #allSliderPics .divSlide .deleteSlide:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #addSlidePics .bottomAdd form #addToSliderBtn {
  background-color: #fe7f2d;
  padding: 10px;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
* body #forAdmin #addSlidePics .bottomAdd form #addToSliderBtn:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #products {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
* body #forAdmin #products .drawnProduct {
  background-color: #DAC75D;
  width: 300px;
  padding: 10px;
  padding-top: 30px;
  position: relative;
}
* body #forAdmin #products .drawnProduct input {
  display: block;
  margin: 10px;
}
* body #forAdmin #products .drawnProduct div {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
* body #forAdmin #products .drawnProduct div img {
  width: 200px;
  margin: 10px;
}
* body #forAdmin #products .drawnProduct div .picDelete {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background-color: #F76C5E;
  border-radius: 10px;
}
* body #forAdmin #products .drawnProduct .drawnSize {
  display: inline-block;
  width: 30px;
}
* body #forAdmin #products .drawnProduct .deleteBtn {
  background-color: #fe7f2d;
  color: red;
  padding: 2px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.5s ease;
}
* body #forAdmin #products .drawnProduct .deleteBtn:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #products .drawnProduct .addPic {
  background-color: #586BA4;
  color: whitesmoke;
  padding: 0px 10px;
  border-radius: 5px;
  position: absolute;
  top: 41px;
  right: 50px;
  transition: all 0.5s ease;
}
* body #forAdmin #products .drawnProduct .addPic:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body #forAdmin #products .drawnProduct .editBtn {
  background-color: #A1C181;
  padding: 2px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease;
}
* body #forAdmin #products .drawnProduct .editBtn:hover {
  cursor: pointer;
  color: rgb(53, 51, 51);
  border: 1px solid whitesmoke;
}
* body footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #619b8a;
  padding: 5px;
  width: 100%;
}
* body footer form {
  display: none;
}
* body footer form .filterItem {
  margin: 10px 30px;
}
* body footer form .filterItem input {
  border: none;
  opacity: 60%;
  border-bottom: 2px solid black;
}
* body footer form .filterItem input:focus {
  outline: none;
}
* body footer form .filterItem select {
  opacity: 60%;
  border: none;
  border-bottom: 2px solid black;
}
* body footer form .filterItem select:focus {
  outline: none;
}
* body footer form .filterItem select:focus:hover {
  cursor: pointer;
  color: rgb(166, 166, 166);
}
* body footer p {
  font-size: 0.7rem;
  text-align: center;
  margin: 0 50px;
  margin-top: 5px;
}
* body footer p a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  transition: all 0.5s ease;
}
* body footer p a:hover {
  color: rgb(166, 166, 166);
}
* body footer p a i {
  font-size: 1.5rem;
  margin-left: 5px;
}/*# sourceMappingURL=adminStyle.css.map */