body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}
body header #mobileNav {
  display: none;
  color: red;
  padding: 1px 6px;
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 10px;
  font-size: 2rem;
}
@media screen and (max-width: 815px) {
  body header #mobileNav {
    display: block;
  }
}
body header #mobileList {
  background-color: white;
  display: inline-block;
  list-style: none;
  z-index: 99;
  position: fixed;
  top: -500px;
  right: -300px;
  padding: 10px 0;
  transition: all 0.5s ease;
}
body header #mobileList .place {
  font-size: 1.5rem;
  padding: 15px 30px;
  transition: all 0.5s ease;
}
body header #mobileList .place:hover {
  background-color: blue;
  cursor: pointer;
  color: red;
}
body header #mobileList .place:last-of-type:hover {
  background-color: blue;
  cursor: pointer;
  color: red;
}
body header #mobileList #closeBtn {
  padding: 15px;
  font-size: 2.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
body header nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  z-index: 99;
}
@media screen and (max-width: 815px) {
  body header nav {
    display: none;
  }
}
body header nav a {
  text-decoration: none;
  color: red;
}
body header nav .logo img {
  width: 300px;
  height: 60px;
}
body header nav .navbar {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
body header nav .navbar .place {
  margin-right: 10px;
  padding: 35px 20px;
  transition: all 0.5s ease;
}
body header nav .navbar .place:hover {
  background-color: red;
  cursor: pointer;
  color: blue;
}
body header nav .cart {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  position: relative;
}
body header nav .cart .forCart {
  padding: 30px 20px;
  font-size: 1.7rem;
  transition: all 0.5s ease;
}
body header nav .cart .forCart:hover {
  background-color: red;
  cursor: pointer;
  color: blue;
}
body header nav .cart #cartsDp {
  display: none;
  position: absolute;
  color: red;
  background-color: yellow;
  top: 100px;
  right: 500px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  transition: all 1s ease-in-out;
}
body header nav .cart #cartsDp #cartDropdownItem {
  padding: 0;
  position: relative;
}
body header nav .cart #cartsDp #cartDropdownItem li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid red;
}
body header nav .cart #cartsDp #cartDropdownItem li img {
  width: 100px;
  border-radius: 50px;
  margin-bottom: 5px;
}
body header nav .cart #cartsDp #cartDropdownItem li h3 {
  font-size: 0.7rem;
  margin: 5px;
}
body header nav .cart #cartsDp #cartDropdownItem li span {
  font-size: 0.7rem;
  margin-right: 5px;
}
body header nav .cart #cartsDp #cartTotal {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: blue;
  top: 15px;
  right: 10px;
}
body #item {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin: 100px auto;
}
@media screen and (max-width: 1200px) {
  body #item {
    width: 100vw;
    justify-content: space-between;
    margin: 100px auto;
  }
}
@media screen and (max-width: 1200px) and (max-width: 815px) {
  body #item {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
body #item #itemImg {
  display: flex;
  flex-direction: column;
}
body #item #itemImg .ItemImg {
  max-width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 815px) {
  body #item #itemImg .ItemImg {
    width: 90vw;
  }
}
body #item .itemInfo {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 70px;
  text-align: center;
}
@media screen and (max-width: 815px) {
  body #item .itemInfo {
    margin: 0 auto;
    width: 90vw;
  }
}
body #item .itemInfo #itemName {
  font-size: 2rem;
}
body #item .itemInfo #itemCategorie {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: red;
  font-weight: 800;
}
body #item .itemInfo #itemColor {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: red;
  font-weight: 800;
}
body #item .itemInfo #itemPrice {
  font-size: 1.8rem;
  color: red;
  font-weight: 800;
}
body #item .itemInfo .sizes {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  background-color: yellowgreen;
}
body #item .itemInfo .sizes .empty {
  background-color: red;
}
body #item .itemInfo .sizes span {
  padding: 8px 10px;
}
body #item .itemInfo .sizes .empty {
  background-color: red;
}
body #item .itemInfo #OutOfStock {
  color: red;
  font-size: 1.3rem;
}
body #item .itemInfo #itemDescription {
  word-spacing: 0.4rem;
  line-height: 1.5rem;
  text-align: center;
  color: blue;
  font-weight: 800;
}
body #item .itemInfo .buttons {
  display: flex;
  justify-content: space-around;
}
body #item .itemInfo .buttons #like {
  font-size: 2.5rem;
  margin: 50px 0;
  margin-right: 20px;
}
body #item .itemInfo .buttons #like:hover {
  color: red;
}
body #item .itemInfo .buttons .liked {
  color: red;
}
body #item .itemInfo .buttons button {
  padding: 10px 0;
  margin: 40px 0;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  border: none;
  background-color: white;
  transition: all 0.5s ease;
}
body #item .itemInfo .buttons button:hover {
  cursor: pointer;
  color: red;
}
body footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 7%;
  z-index: 3;
}
body footer p {
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
body footer p a {
  text-decoration: none;
  transition: all 0.5s ease;
}
body footer p a i {
  font-size: 1.5rem;
  margin-left: 5px;
}/*# sourceMappingURL=stylesItem.css.map */