body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;

  header {
    #mobileNav {
      display: none;
      color: red;
      padding: 1px 6px;
      border: 3px solid red;
      position: fixed;
      z-index: 99;
      top: 10px;
      right: 10px;
      font-size: 2rem;

      @media screen and (max-width: 815px) {
       display: block;
      }
    }

    #mobileList {
      background-color: white;
      display: inline-block;
      list-style: none;
      z-index: 99;
      position: fixed;
      top: -500px;
      right: -300px;
      padding: 10px 0;
      transition: all 0.5s ease;

      .place {
        font-size: 1.5rem;
        padding: 15px 30px;
        transition: all 0.5s ease;

        &:hover {
          background-color: blue;
          cursor: pointer;
          color: red;
        }
      }

      .place:last-of-type {
        &:hover {
          background-color: blue;
          cursor: pointer;
          color: red;
        }
      }

      #closeBtn {
        padding: 15px;
        font-size: 2.5rem;
        width: fit-content;
        margin: 0 auto;
      }
    }
    
    nav {
      position: fixed;
      top: 0;
      width: 100vw;
      display: flex;
      justify-content: space-around;
      z-index: 99;
  
      @media screen and (max-width: 815px) {
        display: none;
      }
  
      a {
        text-decoration: none;
        color: red;
      }
  
      .logo img {
        width: 300px;
        height: 60px;  
      }
        
      .navbar {
        margin: 0;
        display: flex;
        justify-content: space-around;
        list-style: none;
  
        .place {
          margin-right: 10px;
          padding: 35px 20px;
          transition: all 0.5s ease;
  
          &:hover {
            background-color: red;
            cursor: pointer;
            color: blue;
          }
        }
      }
      .cart {
        display: flex;
        justify-content: space-around;
        margin-right: 10px;
        position: relative;
  
        .forCart{
          padding: 30px 20px;
          font-size: 1.7rem;
          transition: all 0.5s ease;
  
          &:hover {
            background-color: red;
            cursor: pointer;
            color: blue;
          }
        }
  
        #cartsDp {
          display: none;
          position: absolute;
          color: white;
          background-color: black;
          top: 400px;
          width: 400px;
          height: 400px;
          padding: 10px;
          transition: all 1s ease-in-out;
  
          #cartDropdownItem {
            padding: 0;
            position: relative;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              border-bottom: 1px solid red;
    
              img {
                width: 100px;
                border-radius: 50px;
                margin-bottom: 5px;
              }
    
              h3 {
                font-size: 0.7rem;
                margin: 5px;
              }
              
              span {
                font-size: 0.7rem;
                margin-right: 5px;
              }
            }
          }
  
          #cartTotal { 
          position: absolute;
          font-size: 1.2rem;
          font-weight: bold;
          bottom: 15px;
          }
        }
      }
    }
  }

  main {

    form {
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 98;
      bottom: 100px;

      @media screen and (max-width: 815px) {
        top: 20px;
        width: 60px;
      }

      .filterItem {
        margin: 10px 30px;
        color: red;

        input {
          width: 100px;
          border: none;
          background-color: white;
          opacity: 60%;
          border-bottom: 2px solid red;
         

          &:focus{
            outline: none;
          }
        }

        select {
          color: blue;
          border: none;
          border-bottom: 2px solid blue;
          &:focus{
            outline: none;
          }
        }
      }
    }

    #products {
      margin: 200px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        margin: 200px auto;
 
        @media screen and (max-width: 815px) {
         grid-template-columns: 1fr 1fr 1fr;
         width: 100vw;
         gap: 10px;
         margin: 200px auto;

         @media screen and (max-width: 620px) {
          grid-template-columns: 1fr 1fr;
          gap: 10px;
         }
        }
      }
      
      .product {
        z-index: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
        border-bottom: 2px solid white;
        transition: all 0.5s ease;
        margin: 0 auto;

        @media screen and (max-width: 1500px) {
          width: 280px;
        
          @media screen and (max-width: 1024px) {
            width: 250px;
  
            @media screen and (max-width: 815px) {
              width: 200px;

              @media screen and (max-width: 620px) {
                width: 180px;
               }
            }
          }
        }   

        &:hover {
          cursor: pointer;
          color: red;
        }

        .fa-heart-circle-plus {
          position: absolute;
          bottom: 0px;
          left: 0px;
          font-size: 2rem;
          transition: all 0.5s ease;

          @media screen and (max-width: 815px) {
            right: 10px;
            top: 10px;
          }

          &:hover {
            cursor: pointer;
            color: blue;
          }
        }
        
        .liked {
          color: red;
        }

        .productImg {
          object-fit: scale-down;
          height: 300px;

          @media screen and (max-width: 1500px) {
            height: 280px;
          
            @media screen and (max-width: 1024px) {
              height: 250px;
    
              @media screen and (max-width: 815px) {
                height: 200px;

                @media screen and (max-width: 620px) {
                  height: 180px;
                 }
              }
            }
          }  
          
        }

        .productPrice {
          margin: 0;
        }
      }
    }
  }

  footer{
    position: fixed;
    bottom: 0;
    background-color: black;  
    width: 100%;
    height: 7%;
    z-index: 3;

    p {
      font-size: 0.7rem;
      text-align: center;
      color: white;

      a {
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
          color: rgb(166, 166, 166);
        }

        i {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }
    }

    #admin {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: blue;
      padding: 5px;
      transition: all 0.5s ease;

      @media screen and (max-width: 769px) {
        display: none;
      }

      i {
        color: black;
      }

      &:hover {
        color: red;
        cursor: pointer;
        i{
          color: blue;
        }
      }
    }
  }
}